{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/pages/login.css') }}"/>
{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <main>
        <form>
            <div>
                <input name="email" type="email" placeholder="Email *" required>
            </div>
            <div>
                <input name="password" type="password" placeholder="Password *" required>
            </div>
            <div>
                <input name="password" type="password" placeholder="Confirm Password *" required>
            </div>
            <div class="button-wrapper">
                <button class="button secondary" type="submit" formmethod="post">Sign up</button>
            </div>
        </form>
    </main>
    {% include 'components/footer.html.twig' %}

{% endblock %}
